%section.ten-oh-announcement
  .ten-oh-label
    %span 12.2
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.2 introduces faster, more flexible pipelines, Design Management, Cross Project Merge Request Dependencies and many more great new features!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/08/22/gitlab-12-2-released/"}
          See what’s new
